<a href="https://colab.research.google.com/github/rlac9/Python-/blob/main/%EB%82%B4%20%EC%82%AC%EB%9E%91%20%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수란?
* 함수의 모형새 : def 함수명(): 값 리턴

In [2]:
def fun():
  return None

In [4]:
def add(a,b):
  result = a+b
  return result

In [6]:
sum = add(3,4)
print(sum)

7

# 전역변수와 지역변수
* 전역변수: 전체 코드에 적용되는 변수
* 지역함수: 함수 def 안에만 적용되는 함수

In [4]:
a=10 # 전역변수
def func1():
  a=20 # 지역변수
  print('func1에서 a의 값 %d'%a)

def func2():
  print('funcl2에서 a의 값 %d'%a)

func1()
func2()

func1에서 a의 값 20
funcl2에서 a의 값 10

In [13]:
def add(x,y,z):
  a = x + y + z
  return a
add(x=102,y=78,z=12)

192

# if 문 조건문

In [32]:
# 짝수, 홀수 판별 프로그램
def tast_even(num):
  if num%2==0:
    print('짝수')
  else:
    pirnt('홀수')
tast_even(12)

짝수

In [34]:
# 테스트 합격, 불합격 판별 프로그램
def license_pass(score):
  if score >= 60:
    print('합격')
  else:
    print('불합격')
license_pass(100)

합격

In [40]:
#두 값 중 큰 값만 출력하는 프로그램
def comepare(a, b):
  if a >= b :
    return a
  else:
    return b
comepare(101,102)

102

In [50]:

# 미자와 성인을 구분하는 프로그램
# 성인이면 yes 미자면 no 으로 출력
def check_age(num):
  if num >= 20:
    return 'YES'
  else:
    return 'NO'
check_age(34)

'YES'

In [53]:
#*윤년 판별 프로그램
#*윤년: 4년에 1번씩 2월 39일 하루를 추가해서 넣어 윤년이라 부름
#윤년의 조건: 4의 배수이면서 100의 배수는 아닌 단 400의 배수는 윤년이란 인정된다.

year = 400

def deternice_laep_year(year):
  if ((year % 4 ==  0)and(year % 100 != 0))or(year % 400 == 0):
    print('%d년은 윤년입니다.'%year)
  else:
    print('%d년은 윤년이 아닙니다.'%year)
deternice_laep_year(400)

400년은 윤년입니다.

In [59]:
# 메뉴판에 적혀있는 메뉴의 가격을 알려주는 프로그램
# 떡볶이 8000원, 만두 6000원, 라면 5000원.. 이런 식으로 음식 가격 알려주고, 그외 다른 메뉴가 들어오면 '해당 메뉴는 저희 가게에서 판매하지 않습니다.' 라고 출력하는..
print('채채 분식점에 오신 것을 환영합니다! 무슨 음식을 원하시나요?\n저희 음식점은 떡볶이, 만두, 라면을 판매하고 있습니다!.\n음식 가격이 궁금하시다면 아래 코스칸에 원하시는 음식을 말씀해주세요!')
def cost(meun):
  if meun == '떡볶이': #사용자가 떡볶이의 가격이 궁금할때
    return '8000원입니다.'
  elif meun == '만두':
    return '6000원입니다.'
  elif meun == '라면':
    return '5000원입니다.'
  else:
    return '해당 메뉴는 저희 가게에서 판매하지 않습니다.'

cost('만두') # 메뉴를 입력해주세용!

채채 분식점에 오신 것을 환영합니다! 무슨 음식을 원하시나요?
저희 음식점은 떡볶이, 만두, 라면을 판매하고 있습니다!.
음식 가격이 궁금하시다면 아래 코스칸에 원하시는 음식을 말씀해주세요!

'6000원입니다.'

# 중첩 조건문
* 말 그대로 조건문을 충접해서 코드를 쓴다!

In [62]:
#학점 판별기
score = 74
if score >= 90:
  print('A')
else:
  if score >= 80:
    print('B')
  else:
    if score >= 70:
      print('C')
    else:
      if score >= 60:
        print('D')
      else:
        if score >= 50:
          print('E')
        else:
          print('I')

C

In [65]:
score =100
if score >= 90:
  print('A')
elif score >= 80:
  print('B')
elif score >= 70:
  print('C')
elif score >= 60:
  print('D')
elif score >= 50:
  print('E')
else:
  print('I')

A